html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}

body {
    font-family: sans-serif;
}



#container {
    display: flex;
    width: 1500px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;

   
    
    
}

#main{
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    margin: auto;
    width: 900px;

}

#center {
    display: flex;
    flex-direction: column;
    width: 900px;
    
}
#maintop {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 900px;
    padding-left: 50px;
    padding-right: 50px;
}

#maintop selector {
    margin-left: 5px;
}
#maintop span {
    margin-right: 5px;
}

#main img {
    max-width: 200px;
    max-height: auto;
}

#installments {
    color: gray;
}
#individual {
    border: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}

#individual:hover {
    border: solid lightgray 1px;
}

#individual p {
    text-align: center;
}

#individual:hover button { background-color: rgb(255, 219, 88);
    color: white }

#individual button {
    width: 175px;
    height: 50px;
    background: black;
    color: white;
    align-self: center;
    border: black solid 1px;
}
/* 
#individual button:hover {
    background-color: rgb(255, 219, 88);
    color: white
  } */




#checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    background: rgb(27, 26, 32);
    color: white;
}

#checkout.active {
    left:0px
}


#checkoutdesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#checkout img {
    width: 60px;
    height: 80px;
}

#checkoutbutton {
    color: white;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: black;
  
  
}

#checkout button {
    width: 200px;
    height: 20px;

}
 
#indcheckout {
    display: flex;
}

#sizes {

}

.sizeicon {
    display: flex;
}
.sizeicon p {
    width: 40px;
    height: 40px;
    margin: 10px;
    background: lightgray;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 10px;
}

.sizeicon p:hover {
    border: 1px solid black
}

#sizehead {
    margin-left: 10px;
}

#message {
    margin-left: 10px;
}


#star {
    display: flex;
    margin-left: 10px;;
}

#star i {
    width: 60px;
    height: 30px;
    border: solid black 1px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    margin-top: 16px;

}

#star p{
    width: 60px;
    height: 30px;
    border: solid black 1px;
    line-height: 30px;
    text-align: center;

}