html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}

#container {
    display: flex;
    width: 1200px;
    margin: auto;
    background: red;
    
    
}

#main{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}